body {background: #003bd1; margin: 0; text-align: center; font-family: sans-serif; min-width: 1200px;}
#main {background: white; width: 96%; margin: auto auto;}
table {border-collapse: collapse; width: 96%; margin: auto auto;}
table td {border: 3px solid #283d54;; text-align: center; padding: 5px;}
.tr td {background: #283d54; color: white; font-weight: bold;}
.left {width: 10%;}
.c {width: 18%;}
.z {width: 33%;}
a {text-decoration: none; color: inherit;}
#zero {background-image: url(https://colmagzhan.kz/public/sova_sko_km/files/2018/10/22/221018_140556_img20180918161605.jpg); background-size: cover; background-position: 0 10%;}
#eighth_march {background-image: url(https://th.bing.com/th/id/R.90c1689ccf46eeb5e122a82888a5ecdf?rik=oXxK%2bAEf5jxt0w&riu=http%3a%2f%2fcp14.nevsepic.com.ua%2f184%2f18388%2fthumbs%2f1385022444-0_27cf2_b2ae5abd_xl.jpeg&ehk=nh0ZGySS4a70B9x55gfANhZ9JODNznn2tJjZyFnS%2few%3d&risl=&pid=ImgRaw&r=0); background-size: cover;}
