body {background: #003bd1; margin: 0; text-align: center;
font-family: sans-serif;}
#main {background: white; width: 96%; margin: auto auto;}
#img {background: url(https://colmagzhan.kz/public/sova_sko_km/files/2018/10/22/221018_140556_img20180918161605.jpg);
width: 96%; margin: auto auto; height: 400px; background-position: 0px -15px; background-size: cover;}
table {border-collapse: collapse; width: 96%; margin: auto auto;}
table td {border: 3px solid #283d54;; text-align: center; padding: 5px;}
.tr td {background: #283d54; color: white; font-weight: bold;}
.left {width: 10%;}
.c {width: 18%;}
.z {width: 33%;}
a {text-decoration: none; color: inherit;}
#zero {background-image: url(https://colmagzhan.kz/public/sova_sko_km/files/2018/10/22/221018_140556_img20180918161605.jpg); background-size: cover; background-position: 0 10%;}
